/* .addSubGrid{
    display: grid;
    grid-area: menu;
    position: absolute;
} */
.addSubDiv{
    height: 5.6vmin;
    width: 18vmin;
    display: flex;
    margin-top: 2vh;
    background-color: #8000802b;
    color: #fff;
    font-size: 1.6vmax;
    padding: 1.2% 1%;
    cursor: pointer;
    border: 2.5px solid #bc10df;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}
.addSubDiv--inv{
    visibility: hidden;
}
.addSubSpan{
    width: 7vw;
    border: none;
    background: none;
    font-size: 3vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.addSubBut{
    padding: 0px;
    width: 3vw;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    color:#F21616;
    padding-bottom: 1vh;
    font-size: 3vw;

}
.green{
    color:#00AF70;
    font-size: 3vw;

}
.addSubBut:hover{
    background-color: none;
}
.green:active{
   font-size: 7.2vmin;
}
.red:active{
    font-size: 4vw;
 }