* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.productDiv{
    margin: 4px;
    height: 110px;
    margin-bottom: 70px;
}


::-webkit-scrollbar {
    display: none;
}

/* .container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header header"
        "nav nav table"
        "category menu table"
        "foter foter boton";
    margin: 10px 10px 10px 10px;
} */

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 11vw 50vw 1fr;
    grid-template-rows: 8vh 6vh 66vh 1fr;
    padding: 1%;
    gap: 1%;
}