.btnMenuOption{
    background: #2c2739;
    box-shadow: 0px 6px 23px -7px rgb(51 51 51 / 25%);
    border-radius: 4px;
    font-size: 1vw;
    color: white;
    width: 15vmin;
    height: 15vmin;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vmin;
}

img{
    height: 60%;

}
.btnMenuOption:hover{
    box-shadow: 0px 6px 23px -7px rgba(51, 51, 51, 0.25), inset 0px -1px 117px #50105F;
}
.btnMenuOption:active{
    width: 14.5vmin;
    height: 14.5vmin;
}

