.btnMenuOption{
    background: #2c2739;
    box-shadow: 0px 6px 23px -7px rgb(51 51 51 / 25%);
    border-radius: 4px;
    font-size: 1vw;
    color: white;
    width: 15vmin;
    height: 15vmin;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vmin;
}

img{
    height: 60%;

}
.btnMenuOption:focus-within{
    box-shadow: 0 0 0.1rem #fff,
     0 0 0.2rem #fff,
     0 0 2rem #bc13fe,
     0 0 1rem #bc13fe,
     0 0 1rem #bc13fe,
     inset 0 0 0.5rem #bc13fe;
}

.btnMenuOption:active{
    width: 14.5vmin;
    height: 14.5vmin;
}

