/* .productsSection{
    width: 95vmin;
    display: grid;
    height: 79vmin;
    
} */
.productFlex{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: auto;
    align-content: stretch;
    justify-content: space-evenly;
    overflow: scroll;
}
@media only screen and (max){
    .productsSection{
        width:95vmin;
        height:79vmin;
    }
}