.productsSection{
    grid-area: 3/2/4/3;
    
}
.productFlex{
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
    width: auto;
    align-content: stretch;
    justify-content: center;
    overflow: scroll;
    height: -webkit-fill-available;
}
/* @media only screen and (max){
    .productsSection{
        width:95vmin;
        height:79vmin;
    }
} */