
.table-flex{
    display: flex;
    flex-direction: column;
}
.checkTableTitle{
    background-color: #2c2739;
    border-radius: 2px;
    box-shadow: 0px -1px 117px 0px rgba(90, 12, 108, 1) inset;
    display: flex;
    justify-content: space-between;
    padding: 0vw 2vw;
    height: 5.5vh;
    margin-bottom: 2.1vh
}
.checkTableP{
    color: #ffff;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}
.checkTableInp{
    border: none;
    width: 5.5vw;
    height: 4vh;
    margin-left: 0.5vw;
    text-align: center;
    font-size: 3vh;
    border-radius: 0.8vmin;
    color: #fff;
    border: 0.4vmin solid #bc10df;
    background-color: #2E2C2C;
}
.checkTableInp:focus{
    outline: none;

}
.checkTableInnerDiv{
    display: flex;
    align-items: center;
}
th{
    color: white;
    font-weight: normal;
    border-bottom: 1px solid #840A91;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vmin;
    padding: 2.5px;
}
td{
    color: white;
    font-weight: normal;
    border-bottom: 1px solid #840A91;
    text-align: center;
    font-size: 2vh;
}
table{
    width: 100%;
    background-color: #2c2739;
    border-collapse: collapse;
    box-shadow: 0px 6px 23px -7px rgba(51, 51, 51, 0.25);
    border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.productColumn{
   
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    width: 15vw;
    height: 7vmin;
}


.tableFixHead{
    overflow: auto;
    height: 57vh;
    background-color: #2c2739;
}
thead th {
    inset-block-start: 0;
    position: sticky;
    background-color: #2c2739;
    font-size: 2vh;
    font-weight: bold;
}
table tfoot{
    inset-block-end: 0;
    position: sticky;
    background-color: #2c2739;
}
.tableFooter{
    background: #2c2739;
    color: white;
    border-top: 1px solid #840A91;
    display: flex;
    justify-content: right;
    font-size: 2vh;
    font-weight: bold;
}
.checkTableDiv{
    grid-area: 2/3/4/4;
}
input[type=text] {
    /* font-size: 2vh; */
    width: clamp(10vw, 100%, 20vw);
    margin-bottom: 0.8vh;
    margin-top: 0.5vh;
    text-align: center;
    font-size: 2vmin;
    border-radius: 0.8vw;
    color: #fff;
    border: 0.2vw solid #bc10df;
    background-color: #2c2739;
    outline: none;
    font-family: 'Montserrat';
}
.bin{
    width: 5vh;
}
.quantityPriceColumn{
    width: 8vw;
}
.productMargin{
    width: 18vw
}