.deliveredOrders{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15vmin 43vw 1fr;
    grid-template-rows: 8vh 6vh 67vh 1fr;
    padding: 1%;
    gap: 1%;
}
.ordersSection{
    grid-area: 3/1/5/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
}
.ticketDiv{
    grid-area: 2/3/4/4;
}

