.deliveredOrders{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header header"
        "nav nav table"
        "category menu table"
        "foter foter boton";
    padding: 10px 10px 10px 10px;
}
.ticketDiv{
    /* display: grid; */
    grid-area: table;
}
