.modal-father {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-modal{
    background: linear-gradient(180deg, #5B0579 31.25%, #8E0B97 100%);
    padding: 3.5em;
    border-radius: 16px;
    box-shadow: 0 0 10px 8px rgb(35 11 44 / 48%)
   
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vw;
    text-align: center;
    color: aliceblue;
}

.img-button-send{
    height: 150px;
    width: 160px;
    border-radius: 10%;
    background-color: rgb(0, 255, 21);
}

.button{
    text-align: center;
    justify-content: center;
}
.button-modal{
    background: transparent;
    width: 11vmin;
    height: 9vmin;
    /*border: 4px solid rgba(0, 255, 21, 0.77);*/
    box-shadow:inset 0 0 1rem #ffffff5c,
     0 0 1rem 1px rgb(0 255 21 / 77%), 
     0 0 0rem rgb(0 255 21 / 77%), 
     0 0 1.5rem 2px rgb(246 255 247 / 79%), 
     0 0 0rem 2px rgb(0 250 21 / 89%), 
     inset 0 0 2rem 0px rgb(0 255 21 / 77%);
     border: none;
    border-radius:7px;
    padding: 7px 25px;
    margin: 30px 30px;
    cursor: pointer;
    transition: .5s;
}
.button-modal:hover {
    color: black;
    background-color: rgb(45 211 58 / 56%);
    filter: drop-shadow(0 0 -4px rgb(45 211 58 / 50%)) contrast(2) brightness(2);
  }
.close{
    background: transparent;
    box-shadow:inset 0 0 1rem #ffffff5c,
    0 0 1rem 1px rgba(255, 0, 0, 0.77), 
    0 0 0rem rgba(255, 0, 0, 0.77), 
    0 0 1.5rem 2px rgb(246 255 247 / 79%), 
    0 0 0rem 2px rgba(250, 0, 0, 0.89), 
    inset 0 0 2rem 0px rgba(255, 0, 0, 0.77);
    border: none;
}

.close:hover {
    color: black;
    background-color: rgba(211, 45, 45, 0.515);
    filter: drop-shadow(0 0 -4px rgba(255, 0, 0, 0.77)) contrast(2) brightness(2);
}