* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .navFlex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;  
    margin-right: 5vw;
  }
  .dataUser{
      color: aliceblue;
      font-size: 3vmin;
  }
.btnLogOut{
  background: #521260;
  border-radius: 6px;
  color: white;
  width: 7vmin;
    height: 7vmin;
    border: none;
}
.btnLogOut:active{
  width: 6.5vmin;
  height: 6.5vmin
}

.navUser{
  grid-area: 1/1/2/4;
}

/* .navUser{
  display: grid;
  grid-area: header;
  align-items: baseline;
  justify-items: stretch;
} */