.textToActive{
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 400;
}
.father-flex{
    display: grid;
    grid-area:3/3/4/4;
    align-content: center;
    background:#2c2739;
    /*border: 1px solid darkorchid;*/
}