.textToActive{
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.father-flex{
    display: grid;
    grid-area:2/3/4/4;
    align-content: center;
    /*border: 1px solid darkorchid;*/
}